  <div class="center hero-unit">
    <h1>Welcome to Yalantlop</h1>

    <h2>
      This is the home page for the
      <%= link_to 'Yalantlop', root_path %>
      application.
    </h2>

     <%= link_to "Sign up now!", new_user_registration_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("yalantlop.jpg", width: 130, alt: "Yalantlop"), root_path, :class =>'yalantlop_logo' %>

