<div class="box-body">
  <%= render 'orders_table' %>
    <div class="box-footer clearfix">
    <%= link_to "Place New Orde", restaurants_list_path, class: "btn btn-sm btn-info btn-flat pull-left" %>
  </div><!-- /.box-footer -->
</div>
<% content_for :action_header do %>
    <td>action</td>
<% end %>
<% content_for :action  do  %>
    <%= link_to 'edit'  %>
<% end %>